<!-- Documents about icons are here: http://fontawesome.io/icons/ -->
<div class="footer">
  <hr />
  <div class="footer-link">
    <a href="https://twitter.com/andreybleme"><i class="fa fa-twitter" aria-hidden="true"></i></a>

    <a href="https://github.com/andreybleme"><i class="fa fa-github" aria-hidden="true"></i></a>

    <a href="https://www.linkedin.com/in/andreybleme"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

    <a href="mailto:andreybleme1@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>

  </div>
  {{ site.copyright.year }} {{ site.copyright.name }}
</div>
