<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">

  <!-- Font -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>


  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />

  <!-- Google Adsense -->
  <script data-ad-client="ca-pub-7854804380103871" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  {% seo %}


  {% include google-analytics.html %}

  <!-- Share this -->
  <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5ab72530ce89f000136418a3&product=inline-share-buttons"></script>

</head>
